.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar button:hover {
    color: #ccc;
}

.navbarlist {
    display: flex;
    gap: 1rem;
}

